.mainLogo {
  object-fit: contain;
  width: 100%;
  height: inherit;
}
.mainLogoContainer {
  height: 100px;
  width: 150px;
  display: inline-block;
}
.navMeanu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-left: 30px;
}
.navMeanu li {
  float: left;
  transition: 0.2s;
  padding: 0px 14px;
  line-height: 30px;
}
.navMeanu li:hover {
  background-color: #7d7d7d0c;
  border-radius: 2px;
}
.navMeanu a {
  color: #6f6f6f;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
}
.navMeanu .selected {
  color: #000000;
  font-weight: 500;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 20px ;
}
.rightNav,
.leftNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar {
  position: relative;
  width: 300px;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.filter {
  background: #f2f2f2;
  height: 40px;
  width: 70px;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.filter:hover {
  background-color: #fff;
}
.filter .text {
  color: #7d7d7d;
  font-size: 12px;
}
.filter svg {
  width: 20px;
  height: 20px;
  margin-left: 0px;
}
.searchIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 6px;
  top: 10px;
  opacity: 0.6;
}
input {
  width: 100% ;
  height: 40px;
  border: 0.25px solid #b1b1b1;
  box-sizing: border-box;
  padding-left: 50px;
}
input:focus {
  outline: 0.5px solid #b1b1b1;
}
input::placeholder {
  margin-left: 40px;
  font-size: 14px;
  color: #b1b1b1;
}
.basket {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.6s;
  cursor: pointer;
}
.basket svg {
  width: 26px;
  height: 26px;
}
.basket span {
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: white;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  right: 0px;
  text-align: center;
  line-height: 20px;
  top: 0px;
}
.basket:hover {
  background-color: #7d7d7d21;
}
.signInUpGroup {
  margin-left: 90px;
}
.signInUpGroup a {
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  padding: 12px 10px;
}
.signUp {
  background: #101010;
  border: 1px solid #101010;
  color: #fff;
}
.signIn {
  font-size: 12px;
  background: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
  margin-left: 20px;
}
.basketSection {
  position: fixed;
  width: 600px;
  background-color: #fff;
  right: 0px;
  height: 100vh;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -10px 0px 26px 5px #c5c5c522;
  transition: 0.4s;
  transition-timing-function: ease-in;
}
.basketSection .topSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}
.basketSection .topSection .title {
  font-size: 22px;
  font-weight: 550;
}
.basketSection .topSection .title .itemsCount {
  font-size: 12px;
  font-weight: 500;
  display: inline;
  padding-left: 10px;
}
.basketSection .topSection button {
  font-size: 12px;
  padding: 14px 16px;
  background-color: #ffffff;
  border: 0.4px solid #cfcfcf;
  transition: 0.5s;
}
.basketSection .topSection button:hover {
  background-color: #7d7d7d21;
}
.basketSection .goodsSection {
  flex-grow: 2;
  border-bottom: 0.5px solid #cfcfcf;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  padding: 20px;
}
.basketSection .goodsSection h5 {
  line-height: 600px;
  margin: 0 auto;
  font-weight: normal;
}
.basketSection .checkOutSection {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;
}
.basketSection .checkOutSection .total {
  font-size: 14px;
  padding-bottom: 10px;
}
.basketSection .checkOutSection .checkOut {
  display: block;
  background: #000000;
  border: 1px solid #101010;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 16px 20px;
  cursor: pointer;
  transition: 0.3s;
}
.basketSection .checkOutSection .checkOut:hover {
  background-color: #232323;
}
.basketSection .checkOutSection .checkOutDisable {
  display: block;
  background: #9d9d9d;
  border: 0px solid #101010;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 16px 20px;
  cursor: pointer;
}
.hideBasket {
  right: -600px;
}
.rightNav .user {
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  gap: 10px;
}
.rightNav .user .imgWrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.rightNav .user .imgWrapper img {
  width: 60px;
  height: 60px;
}
.rightNav .user svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.rightNav .user .dropOptions {
  position: absolute;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  width: 150px;
  box-shadow: 0px 10px 20px 6px rgba(0, 0, 0, 0.129);
  z-index: 1000;
  bottom: -320%;
  right: 0;
}
.rightNav .user .dropOptions .option {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px ;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: #000000;
}
.rightNav .user .dropOptions .option:hover {
  background-color: #dddddd;
}
.dis-none {
  display: none;
}
